<%= form_with(model: @stock, local: true) do |form| %>
    <table>
        <tr>
            <th><%= form.label :productName, "商品名" %></th>
            <td>
            <%= form.collection_select :product_id, Product.all, :id, :productName %>
            </td>
        </tr>
        <tr>
            <th><%= form.label :quantity, "個数" %></th>
            <td><%= form.text_field :quantity %></td>
        </tr>
    </table>
    <div><%= form.submit %></div>
<% end %> 