<div class="container">
<p id="notice"><%= notice %></p>
<h1 class="label">在庫の詳細</h1>

<%= link_to '編集', edit_stock_path(@stock) %> |
<%= link_to "在庫一覧へ", :stocks %>

<table class="table">
    <tr>
        <th width="150">商品名</th>
        <td><%= @stock.product.productName %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td><%= @stock.product.price %></td>
    </tr>
    <tr>
        <th>量</th>
        <td><%= @stock.quantity %></td>
    </tr>
</table>

</div>