<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h4>エラーがあります:</h4>
  
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :ユーザー名 %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= form.label :メールアドレス %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  
    <div class="form-group">
      <%= form.label :パスワード %>
      <%= form.text_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :管理者 %>
      <%= form.check_box :administrator, class: 'form-control' %>
    </div>
  
    <div class="actions">
      <%= form.submit("保存", class: 'btn btn-primary btn-lg my-1 mb-5 px-3') %>
    </div>
  <% end %>