<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h4>エラーがあります:</h4>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :商品名, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :productName, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :価格, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= form.text_field :price, class: 'form-control' %>      
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :備考, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">       
      <%= form.text_field :remark, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit(class: 'btn btn-primary btn-lg my-1 mb-5 px-3') %>
  </div>
<% end %>