<div class="container">
<p id="notice"><%= notice %></p>
<h1 class="label">商品の詳細</h1>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '商品一覧に戻る', products_path %>

<table class="table">
    <tr>
        <th width="150">商品名</th>
        <td><%= @product.productName %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td><%= @product.price %></td>
    </tr>
    <tr>
        <th>備考</th>
        <td><%= @product.remark %></td>
    </tr>
</table>

</div>