<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if current_user %>
        
        <div class="accountBar", style="text-align:right; margin-top: 8px" >
          <ul class="account-menu">
            <%= current_user.name + "さん" %>
            <%= link_to 'ログアウト', "/logout", data: { confirm: 'ログアウトしますか?' } %>
          </ul>
        </div>

        <div class="box1">
          <div class="site">
            <h1 class="title"><a href="/stocks">在庫管理システム</a></h1>
          </div>
        </div>
        <div class="box2">
          <nav class="menu">
            <ul>
              <li><%= link_to "在庫一覧", stocks_path %></li>
              <li><%= link_to "入荷or出荷", new_stock_path %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to "商品新規登録", new_product_path %></li>
              <li><%= link_to "会員名簿", users_path %></li>
            </ul>
          </nav>
        </div>

      <% end %>  

      <%= yield %>
    </div>
  </body>
</html>
