<%= form_with(model: member, local: true) do |form| %>
    <% if member.errors.any? %>
      <div id="error_explanation">
        <h4>エラーがあります:</h4>
  
        <ul>
          <% member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <%= form.label :ユーザー名 %>
      <%= form.text_field :name %>
    </div>
  
    <div class="form-group">
      <%= form.label :メールアドレス %>
      <%= form.text_field :email %>
    </div>
  
    <div class="form-group">
      <%= form.label :パスワード %>
      <%= form.text_field :password %>
    </div>

    <div class="form-group">
      <%= form.label :管理者 %>
      <%= form.check_box :administrator %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>